<div class="modal fade" tabindex="-1" [id]="modalId">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title fw-bold">Projects</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="formFileSm" class="form-label fw-bold">Project Image (5mb max)</label>
                    <input class="form-control form-control-sm" id="formFileSm" type="file" #fileInput>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label fw-bold">Name</label>
                    <input class="form-control form-control-sm" type="text" placeholder="FullDev (Front-end Developer)"
                        aria-label="name input" [value]="name" #nameInput>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label fw-bold">About</label>
                    <textarea class="form-control" id="about" rows="3" [value]="about" #aboutInput></textarea>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label fw-bold">Github Link</label>
                    <input class="form-control form-control-sm" type="text" placeholder="https://github.com/BastidaNicolas/CarpinchoMarkets"
                        aria-label="name input" [value]="repoLink" #repoLinkInput>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label fw-bold">Website Link</label>
                    <input class="form-control form-control-sm" type="text" placeholder="https://carpincho.xyz/"
                        aria-label="name input" [value]="pageLink" #pageLinkInput>
                </div>
                <div class="">
                    <div class="row">
                        <h6 class="col fw-bold m-0">Tech List</h6>
                        <div class="col-2 text-end">
                            <button (click)="handleAddListItem()" class="btn p-0 border-0 fs-5">
                                <i [ngClass]="{'bi bi-dash-square':addListItem,'bi bi-plus-square':!addListItem}"></i>
                            </button>
                        </div>
                    </div>
                    <div class="mb-3" *ngIf="addListItem">
                        <div class="mb-2">
                            <input class="form-control form-control-sm" type="text"
                                placeholder="Tailwind" aria-label="name input" #techNameInput>
                        </div>
                        <button class="btn btn-primary rounded-0 btn-sm" type="submit" (click)="onAddTech(techNameInput.value)">Add</button>
                    </div>
                    <ul class="ps-3">
                        <li class="" *ngFor="let tech of techStackArr">
                            <div class="row">
                                <p class="col m-0">{{tech}}</p><button
                                    class="btn col-1 p-0 border-0" (click)="onDeleteTech(tech)"><i class="bi bi-trash-fill"></i></button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger rounded-0 me-auto" *ngIf="id" data-bs-dismiss="modal" (click)="onDeleteProject()">Delete</button>

                <button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary rounded-0" (click)="onSaveProject(fileInput.files, nameInput.value, aboutInput.value, repoLinkInput.value, pageLinkInput.value)" data-bs-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>