<div class="modal fade" tabindex="-1" id="loginModal" (click)="handleBackgroundClick($event)">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" *ngIf="!register && !forgotPass">Login</h5>
                <h5 class="modal-title fw-bold" *ngIf="register">Register</h5>
                <h5 class="modal-title fw-bold" *ngIf="forgotPass">Password Reset</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="setDefault(200)"></button>
            </div>
            <div class="modal-body" *ngIf="!register && !forgotPass">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label fw-bold">Username</label>
                    <input type="text" class="form-control rounded-0" id="formGroupExampleInput" placeholder="Username">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label fw-bold">Password</label>
                    <input type="text" class="form-control rounded-0" id="formGroupExampleInput2" placeholder="Password">
                    <button type="button" class="btn btn-link p-0 fs-6 fw-lighter text-decoration-none" (click)="setForgotPass(true)">Forgot my
                        password</button>
                </div>
                <div class="mb-3 text-muted d-flex justify-content-evenly">
                    <span>Username: user1</span>
                    <span>Password: user1</span>
                </div>
                <div class="mb-2 text-center">
                    <span class="d-block" >Don't have an account?</span>
                    <button type="button" class="btn btn-link p-0 fs-6 fw-lighter" (click)="setRegister(true)">Register</button>
                </div>
            </div>
            <div class="modal-body" *ngIf="register">
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label fw-bold">Username</label>
                    <input type="text" class="form-control rounded-0" id="formGroupExampleInput" placeholder="Username">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label fw-bold">Password</label>
                    <input type="text" class="form-control rounded-0" id="formGroupExampleInput2" placeholder="Password">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label fw-bold">Confirm Password</label>
                    <input type="text" class="form-control rounded-0" id="formGroupExampleInput2" placeholder="Confirm Password">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label fw-bold">E-mail</label>
                    <input type="text" class="form-control rounded-0" id="formGroupExampleInput2" placeholder="E-mail">
                </div>
            </div>
            <div class="modal-body" *ngIf="forgotPass">
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label fw-bold">E-mail</label>
                    <input type="text" class="form-control rounded-0" id="formGroupExampleInput2" placeholder="E-mail">
                    <span class="text-muted mt-1">Enter your account email, you'll get sent a password reset thingy</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal" *ngIf="!register && !forgotPass">Close</button>
                <button type="button" class="btn btn-secondary rounded-0" (click)="setDefault(0)" *ngIf="register || forgotPass">Back</button>
                <button type="button" class="btn btn-primary rounded-0" *ngIf="!register && !forgotPass">Login</button>
                <button type="button" class="btn btn-primary rounded-0" *ngIf="register">Register</button>
                <button type="button" class="btn btn-primary rounded-0" *ngIf="forgotPass">Send</button>
            </div>
        </div>
    </div>
</div>