.desktop-menu {}

.mobile-menu {
    display: none;

    .burger {
        font-size: 1.8rem;
        color: white;

        &:hover {
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 500px) {
    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }
}