<div class="container mb-5" style="max-width: 812px;">
    <h4 class="fw-bold mb-4">Projects</h4>
    <div class="column" *ngFor="let project of projectsData">
        <div class="row mb-3">
            <div class="col-12 col-sm mb-2 mb-sm-0">
                <img class="w-100 h-100" src={{project.image.src}} width="350" height="167" alt={{project.image.alt}}>
            </div>
            <div class="col px-sm-0">
                <h5 class="fw-bold">{{project.title}}</h5>
                <h6 class="">{{project.stacc}}</h6>
                <p>{{project.about}}</p>
                <div class="row-auto">
                    <a href={{project.links.github}} class="text-dark me-3">Github</a>
                    <a href={{project.links.website}} class="text-dark">Website</a>
                </div>
            </div>
        </div>
    </div>
  </div>
