<div class="container mb-5" style="max-width: 812px;">
    <div class="mb-4 d-flex justify-content-between">
        <h4 class="fw-bold">Education</h4>
        <div class="h-full d-flex align-items-center" *ngIf="isEdit">
            <button class="btn p-0 border-0 fs-4 text me-3" (click)="handleAdd() " data-bs-toggle="modal" data-bs-target="#educationModal"><i class="bi bi-plus-square"></i></button>
            <button class="btn p-0 border-0 fs-4 text" (click)="handleEdit()"><i
                    class="bi bi-check-square"></i></button>
        </div>
        <button class="btn p-0 border-0 fs-4 text" (click)="handleEdit()" *ngIf="!isEdit"><i
                class="bi bi-pencil-square"></i></button>
    </div>
    <div cdkDropList (cdkDropListDropped)="drop($event)" >
        <div class="column" [ngClass]="{'hover': isEdit}" *ngFor="let education of educationData" cdkDrag [cdkDragDisabled]="!isEdit">
            <div class="col mb-3">
                <div class="row mb-3 mb-md-1 mx-0">
                    <div class="col-auto p-0 component-image-container">
                        <img class="component-image" src={{education.image.src}} alt={{education.image.alt}}>
                    </div>
                    <div class="col">
                        <div class="row">
                            <h5 class="fw-bold">{{education.title}}</h5>
                        </div>
                        <div class="row">
                            <h6>{{education.time.start}} - {{education.time.end}}</h6>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end mx-0">
                    <div class="col p-0 col-sm-10">
                        <p>
                            {{education.description}}
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<app-education-module></app-education-module>