<div class="container mb-5" style="max-width: 812px;">
    <h4 class="fw-bold mb-4">Education</h4>
    <div class="column">
        <div class="row mb-3">
            <div class="row mb-1">
                <div class="col-auto">
                    <img src="" alt="" width="75" height="75">
                </div>
                <div class="col">
                    <div class="row">
                        <h5 class="fw-bold">Front-end Developer</h5>
                    </div>
                    <div class="row">
                        <h6>2020 - Current</h6>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col col-sm-10">
                    <p>
                        Detail oriented fullstack developer with an eye for design and some freelance experience.
                        I’m seeking a position with a company where I can provide value through the use of my skills
                        in coding, troubleshooting complex problems and assisting in the timely completion of
                        projects.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>