<div class="modal fade" tabindex="-1" [id]="modalId">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title fw-bold">Experience</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="formFileSm" class="form-label fw-bold">Company Logo (5mb max)</label>
                    <input class="form-control form-control-sm" id="formFileSm" type="file" #imageInput>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label fw-bold">Job Title</label>
                    <input class="form-control form-control-sm" type="text" placeholder="FullDev.net"
                        aria-label="name input" [value]="jobTitle" #jobTitleInput>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label fw-bold">Company</label>
                    <input class="form-control form-control-sm" type="text" placeholder="FullDev.net"
                        aria-label="name input" [value]="company" #companyNameInput>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label fw-bold">Work Time</label>
                    <div class="d-flex">
                        <input class="form-control form-control-sm" type="date" aria-label="start date input"
                            [value]="initDate" #startDateInput>
                        <p class="m-0 px-2">-</p>
                        <input class="form-control form-control-sm" type="date" aria-label="end date input"
                            [value]="endDate" #endDateInput>
                    </div>
                </div>
                <div class="">
                    <div class="row">
                        <h6 class="col fw-bold m-0">Action List</h6>
                        <div class="col-2 text-end">
                            <button (click)="handleAddListItem()" class="btn p-0 border-0 fs-5">
                                <i [ngClass]="{'bi bi-dash-square':addListItem,'bi bi-plus-square':!addListItem}"></i>
                            </button>
                        </div>
                    </div>
                    <div class="mb-3" *ngIf="addListItem">
                        <div class="mb-2">
                            <input class="form-control form-control-sm" type="text"
                                placeholder="Worked with clients 1 on 1" aria-label="name input" #descriptionInput>
                        </div>
                        <button class="btn btn-primary rounded-0 btn-sm" type="submit"
                            (click)="handleAddDesc(descriptionInput.value)">Add</button>
                    </div>
                    <ul class="ps-3">
                        <li class="" *ngFor="let item of about">
                            <div class="row">
                                <p class="col m-0">{{item.description}}</p><button (click)="handleDeleteDesc(item.description)" class="btn col-1 p-0 border-0"><i
                                        class="bi bi-trash-fill"></i></button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger rounded-0 me-auto" *ngIf="id" data-bs-dismiss="modal" (click)="handleDeleteExperience()">Delete</button>

                <button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary rounded-0"
                    (click)="saveExperience(imageInput.files, jobTitleInput.value, companyNameInput.value, startDateInput.value, endDateInput.value)" data-bs-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>