<div class="container mb-5" style="max-width: 812px;">
    <div class="mb-4 d-flex justify-content-between">
        <h4 class="fw-bold">Experience</h4>
        <div class="h-full d-flex align-items-center" *ngIf="isEdit">
            <button class="btn p-0 border-0 fs-4 text me-3" (click)="handleAdd() " data-bs-toggle="modal"
                data-bs-target="#experienceModal"><i class="bi bi-plus-square"></i></button>
            <button class="btn p-0 border-0 fs-4 text" (click)="handleEdit()"><i
                    class="bi bi-check-square"></i></button>
        </div>
        <button class="btn p-0 border-0 fs-4 text" (click)="handleEdit()" *ngIf="!isEdit"><i
                class="bi bi-pencil-square"></i></button>
    </div>
    <div cdkDropList (cdkDropListDropped)="drop($event)" >
        <div class="column" [ngClass]="{'hover': isEdit}" *ngFor="let experience of experienceData" cdkDrag [cdkDragDisabled]="!isEdit">
            <div class="col mb-4">
                <div class="row p-0 m-0 mb-2 mb-md-1">
                    <div class="col-auto p-0 component-image-container" cdkDragHandle>
                        <div class="arrows-move-container fs-1" *ngIf="isEdit"><i class="bi bi-arrows-move"></i></div>
                        <img class="component-image" src={{experience.company.src}} alt={{experience.company.alt}}>
                    </div>
                    <div class="col">
                        <div class="row">
                            <h5 class="fw-bold">{{experience.title}}</h5>
                        </div>
                        <div class="row">
                            <h6>{{experience.time.start}} - {{experience.time.end}}</h6>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end p-0 m-0">
                    <div class="col col-sm-10 p-0">
                        <ul class="list-group list-group-flush" *ngFor="let bullet of experience.list">
                            <li class="list-group-item border-bottom bg-transparent px-0">{{bullet}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<app-experience-module></app-experience-module>